@model Курсовая.Domain.Entity.Collection
@{
    ViewData["Title"] = "ModCollect";
}


<div>
    <h2>@ViewData["Title"]</h2>
    <form asp-action="SaveColectionnn" method="post" class="mb-5">
        <input asp-for="Id" type="hidden" />
        <div>
            <label asp-for="Name" class="form-label">Название</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="CollectorId" class="form-label">Коллекционер</label>
            <select asp-for="CollectorId" asp-items="ViewBag.Collector" class="form-control">
                <option>Выберите коллекционера</option>
            </select>
            <span asp-validation-for="CollectorId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="SelectedStampIds" class="form-label">Марки</label>
            @foreach (var stamp in ViewBag.StampDictionary as Dictionary<int, string>)
            {
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           name="stampIds"
                           value="@stamp.Key"
                           id="stamp_@stamp.Key"
                           @(Model.SelectedStampIds != null && Model.SelectedStampIds.Contains(stamp.Key) ? "checked" : "") />
                    <label class="form-check-label" for="stamp_@stamp.Key">
                        @stamp.Value
                    </label>
                </div>
            }
        </div>
        

        <div>
            <input asp-for="TotalValue" type="hidden" />
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
