@{ViewData["Title"] = "Check";}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>
    <div class="alert alert-success">
        Коллектор успешно сохранен!
    </div>

    <a asp-action="Index" class="btn btn-primary">Добавить ещё</a>
    <a asp-action="GetCollectorAll" class="btn btn-info">Просмотреть все</a>
</div>