@{
    ViewData["Title"] = "Марка сохранена";
}

<div class="container mt-5">
    <div class="alert alert-success">
        Марка успешно сохранена!
    </div>

    <a asp-action="Index" class="btn btn-primary">Добавить ещё</a>
    <a asp-action="Get" class="btn btn-info">Просмотреть все</a>
</div>